<%= render "shared/header" %>

<div class="pages">
  <div class="list-top">
    <ul class="lists">
      <li><%= link_to '新規チーム作成', "#", class: "teams-new" %></li>
      <li><%= link_to '新規リスト作成', "#", class: "lists-new" %></li>
    </ul>
  </div>
  <div class="team-name">
    <%# チームネーム %>
    <div class="list-index">
      <%# リストネーム %>
    </div>
  </div>
</div>