<%= render "shared/header" %>

<div class="pages">
<% if current_user.id == @team.team_users[0].user_id %>
  <%= render "shared/team"%>
  <%= render "shared/list"%>
<% end %>
</div>

<%= render "shared/footer" %>