/* team作成フォーム全体 */
.form-wrap{
  border: solid 3px skyblue;
  border-radius: 8px;
  margin: 5em 30%;
  padding: 2em 1em 2em;
  position: relative;
}
/* team情報フォーム */
.info-field{
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
  margin-top: 5px;
  padding: 10px 16px 8px;
  resize: none;
  width: 85%;
}

/* task完了目標日 */
.date-select{
  font-size: 15px;
}

/* タブレット表示時 */
@media (max-width: 1024px) {
  .form-wrap{
    margin: 5em 15%;
    padding: 2em 1em 2em;
  }
}