.team-wrap{
  border-top: solid 5px #5989cf;
  border-bottom: solid 5px #5989cf;
  color: #2c2c2f;
  margin: 2em 30%;
  padding: 8px 19px;
}
/* チームメンバー */
.team-member-top{
  text-align: right;
}
.team-member{
  color: #5989cf;
  font-size: 18px;
}
.user-path{
  color: black;
}

/* チーム情報 */
.team-info-top{
  color: #5989cf;
  font-size: 18px;
  text-align: center;
}
.team-info{
  margin-left: 2em;
  white-space: pre-line;
  word-wrap: break-word;
}

/* ボタン */
.team-action{
  border-top: dashed 2px lightblue;
  margin: 0 0 5vh;
  text-align: center;
}
.action-btn{
  list-style: none;
  margin-top: 50px;
  width: 100%;
}
.team-edit-btn{
  background-color: skyblue;
  color: #FFF;
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0px;
  padding: 2vh 3vw;
  text-decoration: none;
}
.or-text{
  font-size: 20px;
}
.team-destroy{
  background-color: skyblue;
  color: #FFF;
  font-size: 20px;
  margin: 20px 0px;
  padding: 2vh 5vw;
  text-align: center;
  text-decoration: none;
}

/* task */
.task-member-top{
  border-bottom: dashed 2px lightblue;
  text-align: right;
}
.content-top{
  margin-top: 1em;
}
li{
  list-style: none;
}

/* task内容 */
.content{
  color: #5989cf;
  font-size: 18px;
}
.report{
  color: #5989cf;
  font-size: 18px;
}
.final-report{
  color: #5989cf;
  font-size: 18px;
}
.temporary{
  color: lightgrey;
}
.target-date{
  color: #5989cf;
  font-size: 18px;
}
.task-item{
  color: #5989cf;
  font-size: 18px;
}
.task-contens{
  white-space: pre-wrap;
}

/* taskへのコメント */
.comment{
  border-top: dashed 2px lightblue;
  font-size: 15px;
}
.comment-time{
  font-size: 10px;
}
.comment-btn{
  background: skyblue;
  border: 1px solid skyblue;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  line-height: 45px;
  width: 25%;
}