body{
  margin: 0;
}
/* ページ全体 */
.pages{
  background: linear-gradient(-135deg, #05fbff41, #ffffff);
  display: flex;
  height: 88vh;
}

/* タブレット表示時 */
@media (max-width: 1024px) {
  .pages{
    height: 91vh;
  }
}