body{
  overflow: hidden;
  margin: 0;
}
/* ページ全体 */
.pages{
  display: flex;
  height: 88vh;
  background: linear-gradient(-135deg, #05fbff41, #ffffff);
}
/* 部分テンプレート */
.team-top{
  width: 20%;
}
.list-top{
  width: 30%;
}
.task-top{
  width: calc(100vw - 20% - 30%);
}
