.pages{
  display: flex;
  width: 100vw;
  height: 90vh;
  background: linear-gradient(-135deg, #05fbff41, #ffffff);
}
.team-top{
  width: 20%;
}
.list-top{
  width: 30%;
}
.task-top{
  width: calc(100vw - 20% - 30%);
}
