* {
  box-sizing: border-box;
}
/* フッター全体 */
.top-page-footer{
  height: 5vh;
  width: 100%;
  background-color: slategray;
  bottom: 0;
  opacity: 0.8;
}
.footer-top{
  margin-right: 20px;
  text-align: right;
}
.mail{
  color: aliceblue;
}
.twitter{
  color: aliceblue;
}

/* タブレット表示時 */
@media (max-width: 1024px) {
  .top-page-footer{
    height: 4vh;
  }
}