* {
  box-sizing: border-box;
}
/* フッター全体 */
.top-page-footer{
  height: 5vh;
  background-color: slategray;
  opacity: 0.8;
  bottom: 0;
  width: 100%;
}
.footer-top{
  text-align: right;
  margin-right: 20px;
}
.mail{
  color: aliceblue;
}
.twitter{
  color: aliceblue;
}