* {
  box-sizing: border-box;
}
/* ヘッダー全体 */
.top-page-header{
  height: 5vh;
  width: 100vw;
  background-color: slategray;
  opacity: 0.8;
}
.header-top{
  display: flex;
}

/* Bdashロゴ */
.header-bdash{
  text-decoration: none;
  font-family: 'Londrina Shadow', cursive;
  font-size: 30px;
  align-items: center;
  margin: 0px 60% 0px 5%;
  color: #ffffff
}

/* ヘッダーメニュー */
.nav {
  font-size: 15px;
  display: flex;
  justify-content: space-between;
}

/* メニューリスト */
.lists-right {
  display: flex;
  list-style: none;
  font-weight: bold;
}
.user-nickname {
  text-decoration: none;
  margin-right: 5vw;
  color: #333333;
}
.logout {
  text-decoration: none;
  color: #333333;
}
.login {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
}
.sign-up {
  text-decoration: none;
  color: #333333;
}