<%= render 'shared/header'%>

<div class="user-wrap">
  <% @user.each do |user| %>
    <% if user != current_user %>
      <div class="user-name">
      <%= user.nickname %>
        <div class="user-id">ID：
          <%= link_to user.user_name, user_path(user) %>
        </div>
      </div>
    <% end %>
  <% end %>

  <br>
  <%= link_to 'トップへ', root_path%>
</div>