<div class="top-page-footer">
  <div class="footer-top">
    問題の報告はこちらにお願いしますm(_ _)m
    メール : <span class="mail">taskbdash@gmail.com</span>
    Twitter:<a href="https://twitter.com/Bdash_right" class="twitter">製作者</a>
  </div>
</div>