<div class="list-top">
  <div class="list-new">
    <%= link_to '新規リスト作成', new_team_list_path, class:"lists-create" %>
  </div>
  <div class="lists">
    <% @lists.each do |list| %>
    <div class="list">
      <div class="list-name">
      <%= link_to list.list_name, "#", class:"list-name" %>
      </div>
    </div>
    <% end %>
  </div>
</div>