<div class="list-top">
    <div class="list-new">
      <%= link_to '新規リスト作成', "#", class:"lists-create" %>
    </div>
    <div class="lists">
      <div class="list-name">
      <%= link_to 'リスト名', "#", class:"list-name" %>
    </div>
  </div>
</div>