<div class="task-top">
  <div class="task-new">
    <%= link_to '新規タスク作成', new_team_list_task_path(@team,@list), class:"tasks-create" %>
  </div>
  <div class="tasks">
    <div class="list-name">
      <%= link_to @list.list_name, team_list_path(@team.id, @list), class:"task-name" %>
    </div>
    <% @tasks.each do |task| %>
    <div class="task">
      <div class="task-name">
        <%= link_to task.task_name, "#", class:"task-name" %>
      </div>
    </div>
    <% end %>
  </div>
</div>