<div class="task-top">
  <div class="task-new">
    <%= link_to '新規タスク作成', "#", class:"tasks-create" %>
  </div>
  <div class="tasks">
    <div class="task-name">
      <%= link_to 'タスク名', "#", class:"task-name" %>
    </div>
  </div>
</div>