<div class="team-top">
  <div class="team-new">
    <%= link_to '新規チーム作成', new_team_path, class:"teams-create" %>
  </div>

  <% if user_signed_in? %>
  <div class="teams">
    <% current_user.teams.each do |team| %>
    <div class="team">
      <div>
        <%= link_to team.team_name, team_lists_path(team), class:"team-name" %>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>
</div>