<div class="team-top">
  <div class="team-new">
    <%= link_to '新規チーム作成', new_team_path, class:"teams-create" %>
  </div>
  <div class="teams">
    <% current_user.teams.each do |team| %>
    <div class="team">
      <div class="team-name">
        <%= link_to team.team_name, "#" %>
      </div>
    </div>
  <% end %>
  </div>
</div>
