<div class="team-top">
  <div class="team-new">
    <%= link_to '新規チーム作成', "#", class:"teams-create" %>
  </div>
  <div class="teams">
    <div class="team-name">
      <%= link_to 'チーム名', "#", class:"team-name" %>
    </div>
  </div>
</div>