/* ユーザー詳細全体 */
.user-wrap{
  border-top: solid 5px #5989cf;
  border-bottom: solid 5px #5989cf;
  margin: 2em 30%;
  padding: 8px 19px;
}

/* ニックネーム */
.user-name-top{
  color: #5989cf;
  font-size: 18px;
  margin: 0; 
  padding: 0;
  text-align: left;
  text-decoration: none;
}
/* ユーザーid */
.user-id-top{
  color: #5989cf;
  font-size: 18px;
}
/* ユーザー情報 */
.user-info-top{
  color: #5989cf;
  font-size: 18px;
  text-align: center;
}
.user-info{
  border-bottom: 2px dashed skyblue;
  margin-bottom: 2em;
  white-space: pre-line;
  word-wrap: break-word;
}

/* ユーザーの所属するチーム */
.user-team-top{
  color: #5989cf;
  font-size: 18px;
  text-align: center;
}
.user-team{
  border: double 5px #6091d3;
  border-radius: 5px;
  color: #6091d3;
  font-weight: bold;
  padding: 0.5em;
}